bin/
obj/
*.user
*.rsuser
*.suo
*.pfx
*.snk
.vs/
.git/
.gitignore
.dockerignore
.env
.env.*
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json
**/secrets.json
**/*.Secret.json
**/*secrets*.json
**/node_modules/
**/TestResults/
