# Email (Mailtrap)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=INSERT-USERNAME-HERE-ASK-BRIAN
SMTP_PASSWORD=INSERT-PASSWORD-HERE-ASK-BRIAN
SMTP_FROM_EMAIL=notification@habo-bank.com
SMTP_FROM_NAME=HABO-Bank

# Shared vars - copy from root .env.sample
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=localhost
