[MASTER]
init-hook='import sys; sys.path.append(".")'

[DESIGN]
max-locals=15

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    import-error,
    import-outside-toplevel,
    wrong-import-position,
    wrong-import-order,
    invalid-name,
    unused-argument,
    bad-plugin-value,
    missing-final-newline